<div class="main-container" style="width: 100%">
  <%= render 'home/banner' %>
  <%= render 'home/credential' %>
  <%= render 'home/value-prop' %>
  <%= render 'home/job' %>
  <%= render 'home/carousel' %>
  <%= render 'home/footer' %>
  <%= render 'shared/flashes' %>
</div>
