<%= render 'subjobs/components/subjob-banner' %>
<div class="main-container" style="width: 100%; padding: 5vw 10vw">
  <p style="font-size: 1.5vw; font-weight: lighter;"><%= @subjob.description %></p>
  <div class="subjob-info">
    <h3>GOALS & RESPONSIBILITIES</h3>
    <p style="font-size: 1.5vw; font-weight: lighter;"><%= @subjob.goals %></p>
  </div>
  <div class="subjob-info">
    <h3>REQUIREMENTS</h3>
    <p style="font-size: 1.5vw; font-weight: lighter;"><%= @subjob.requirements %></p>
  </div>
  <div class="subjob-info">
    <h3>RESPONSIBILITIES & TASKS & TOOLS</h3>
    <p style="font-size: 1.5vw; font-weight: lighter;"><%= @subjob.tasks %></p>
  </div>
  <div class="subjob-info">
    <h3>TEAM MATES</h3>
    <p style="font-size: 1.5vw; font-weight: lighter;"><%= @subjob.team_mates %></p>
  </div>
  <div class="subjob-info">
    <h3>CAREER OPPORTUNITIES & SALARY</h3>
    <p style="font-size: 1.5vw; font-weight: lighter;"><%= @subjob.career %></p>
  </div>
</div>

